@font-face {
  font-family: "iconfont"; /* Project id 5032821 */
  src: url('/static/iconfont/iconfont.woff2?t=1762398986100') format('woff2'),
       url('/static/iconfont/iconfont.woff?t=1762398986100') format('woff'),
       url('/static/iconfont/iconfont.ttf?t=1762398986100') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifubaozhifu:before {
  content: "\e634";
}

.icon-zhifu-weixinzhifu:before {
  content: "\e64c";
}

.icon-zhifu-weixinzhifu1:before {
  content: "\e600";
}

.icon-zhifushibai:before {
  content: "\e65e";
}

.icon-zhifushibai2:before {
  content: "\e61a";
}

.icon-zhifuchenggong1:before {
  content: "\e651";
}

.icon-zhifuchenggong:before {
  content: "\e630";
}

.icon-zhifushibai1:before {
  content: "\e62f";
}

.icon-shuangxiang:before {
  content: "\e602";
}

.icon-mimadenglu2:before {
  content: "\e63f";
}

.icon-yanzhengma:before {
  content: "\e623";
}

.icon-a-shoujihaoshouji:before {
  content: "\e6b4";
}

.icon-ziyuan:before {
  content: "\e61d";
}

.icon-mimadenglu:before {
  content: "\e605";
}

.icon-mimadenglu1:before {
  content: "\e607";
}

.icon-weixin:before {
  content: "\e608";
}

.icon-duanxindenglu:before {
  content: "\e7b8";
}

.icon-denglu-shoujidenglu:before {
  content: "\e7b6";
}

.icon-duanxindenglu1:before {
  content: "\e762";
}

.icon-gengduo:before {
  content: "\e603";
}

.icon-wode1:before {
  content: "\e606";
}

.icon-folder-close:before {
  content: "\e604";
}

.icon-biaoqian:before {
  content: "\e62c";
}

.icon-shouye2:before {
  content: "\e83b";
}

.icon-xuanzhong:before {
  content: "\e6dc";
}

